<div class="list-group">
  <% @tasks.each do |task| %>
    <a class="<%='completed-task' if task.completed%> list-group-item clearfix" href = "/tasks/<%=task.id%>">
      <%=task.name%>
      <span class="right"><%=task.complete_by_str%></span>
    </a>
  <% end %>
</div>
