<form action="/tasks" method="POST">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="task[name]" id="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="complete-by">Complete By (Optional)<span class="warning">*</span>:</label>
    <input type="date" name="complete_by" id="complete-by" class="form-control">
    <p class="note"><span class="warning">*</span> Date input is not supported in all browsers (Why Firefox?). If you see a plain text field please enter the date using the following format: 'YYYY-MM-DD'.</p>
  </div>
  <div class="form-group">
    <label>
      <input type="hidden" name="task[completed]" value="f">
      <input type="checkbox" name="task[completed]" id="completed" value="t"> Completed
    </label>
  </div>
  <div class="form-group">
    <label>Add to projects (select at least one):</label>
    <div class="list-group">
      <% @projects.each do |project|%>
        <label for="project_<%=project.id%>" class="list-group-item">
          <input type="checkbox" name="task[project_ids][]" value="<%=project.id%>" id="project_<%=project.id%>">
          <%=project.name%>
        </label>
      <% end %>
    </div>
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea type="text" name="task[description]" id ="description" class="form-control" rows="4"></textarea>
  </div>
  <input type="submit" id="create-task" value="Create Task" class="btn btn-primary">
</form>
