.warning{
  color: red;
  font-weight: bold;
}

.note{
  font-style: italic;
}

.show-header{
  clear:both;
}

.right{
  float: right;
}

.completed-task{
  background-color: #EEFFEE;
  color: white;
}

.empty-list-label{
  text-align: center;
  font-style: italic;
  color: #666;
}
