<form action="/projects" method="POST">
  <div class="form-group">
    <label for="name">Name:</label>
    <input type="text" name="project[name]" id ="name" class="form-control">
  </div>
  <div class="form-group">
    <label for="description">Description:</label>
    <textarea type="text" name="project[description]" id ="description" class="form-control" rows="8"></textarea>
  </div>
  <input type="submit" id="create-project" value="Create Project" class="btn btn-default">
<form>
