<p>Welcome to project tracker, a simple utility to keep track of projects and their associated tasks.</p>
<% if !logged_in?%>
<p>To get started either login to an exising account or create a new one.</p>
<% end %>

<p>Created by Patrick Sattelberger.<br>
Avalible on <a href="https://github.com/sattelbergerp/project-tracker">Github</a>.</p>
