<form method="POST">
  Name: <input type="text" name="user[name]" id="name">
  Email: <input type="text" name="user[email]" id="email">
  Password: <input type="password" name="user[password]" id="password">
  <input type="submit" value="Create Account" id="signup">
</form>
